Repository shortboy7/2023-2-SWE-DGU-ON-AND-OFF, pull requests merged in 2023-11, with the labels that each got.

#4 Feature/issue 1/administrator authorization
  backend/.gitignore
  backend/dguonoff/.gitignore
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/api/MasterAdminController.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/dto/EmpowermentParams.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/entity/Role.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/entity/User.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/exception/InvalidAccessException.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/exception/UserNotFoundException.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/repository/UserRepository.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/service/UserService.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/error/ErrorResponse.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/error/Exception/BusinessException.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/error/GlobalExceptionHandler.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/statusCode/CommonCode.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/statusCode/ErrorCode.java
  backend/dguonoff/src/main/resources/application.properties
  backend/dguonoff/src/main/resources/application.yml
  backend/dguonoff/src/test/java/backend/spectrum/dguonoff/DguonoffApplicationTests.java
  backend/dguonoff/src/test/java/backend/spectrum/dguonoff/Service/UserServiceTest.java
Labels: enhancement, backend, Database, JPA, test

#11 Feat: #9 #10 User id 타입 및 응답 코드 포맷 변경
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/api/MasterAdminController.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/dto/EmpowermentParams.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/entity/User.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/repository/UserRepository.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/service/UserService.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/error/ErrorResponse.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/statusCode/CommonCode.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/statusCode/ErrorCode.java
  backend/dguonoff/src/test/java/backend/spectrum/dguonoff/Service/UserServiceTest.java
Labels: backend, fix

#8 Feat: #2 로그인 / 회원가입 구현
  backend/dguonoff/.gitignore
  backend/dguonoff/build.gradle
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/api/AuthController.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/api/MasterAdminController.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/api/UserController.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/dto/AllUserResponse.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/dto/LoginRequest.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/dto/LoginResponse.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/dto/SignUpRequest.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/entity/User.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/exception/InvalidAccessException.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/exception/UserDuplicateException.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/exception/UserLoginException.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/repository/UserRepository.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/service/UserService.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/error/ErrorResponse.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/error/GlobalExceptionHandler.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/global/statusCode/ErrorCode.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/auth/AuthToken.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/auth/AuthTokenProvider.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/auth/jwt/CustomPasswordAuthenticationManager.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/auth/jwt/CustomPasswordAuthenticationToken.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/auth/jwt/JwtAuthToken.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/auth/jwt/JwtAuthTokenProvider.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/auth/jwt/JwtFilter.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/config/SecurityConfig.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/error/exception/JwtTokenException.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/error/handler/JwtExceptionFilter.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/service/UserAuthService.java
  backend/dguonoff/src/main/resources/application.yml
  backend/dguonoff/src/test/java/backend/spectrum/dguonoff/Service/UserServiceTest.java
Labels: enhancement, backend, Database, JPA

#20 feat: Entity 클래스 생성 및 패키지 구조 변경(#12)
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/Bookmark.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/Building.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/Facility.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/FacilityCategory.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/FixedReservation.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/FixedTime.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/Participation_Reservation.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/Reservation.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/User.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/idClass/BookmarkId.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/idClass/FixedTimeId.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/idClass/ParticipationReservationId.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/identifier/FacilityPK.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/model/DayOfWeek.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/model/FacilityStatus.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/model/ReservationStatus.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/DAO/model/Role.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/facility/dto/FacilityOutlineDTO.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/api/MasterAdminController.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/dto/SignUpRequest.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/entity/Role.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/entity/User.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/repository/UserRepository.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/domain/user/service/UserService.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/auth/jwt/CustomPasswordAuthenticationManager.java
  backend/dguonoff/src/main/java/backend/spectrum/dguonoff/security/service/UserAuthService.java
  backend/dguonoff/src/main/resources/application.yml
  backend/dguonoff/src/test/java/backend/spectrum/dguonoff/Service/UserServiceTest.java
Labels: backend, Database, JPA
